
@{
    ViewData["Title"] = "BookingNotConfirmed";
}

@section MetaTags
{
    <meta name="keywords" content="Book'N'Swim, Pools, Hotels, Booking, Error, NotConfirmed" />
}

<h2>Booking was not confirmed</h2>
<p>An error ocurred, please try again later!</p>

@Html.ActionLink("Back to all Hotels", "HotelMainPage", "Hotel")
