@section MetaTags
{
    <meta name="keywords" content="Book'N'Swim, pool, hotel, book" />
    <meta name="robots" content="follow, index, max-snippet:-1, max-video-preview:-1, max-image-preview:large" />
}

@{
    ViewBag.Title = "Index";
}

<div id="indexContainer" class="containers">
    <h2>Welcome!</h2>
    <p>Are you already a member of Book'N'Swim?<br /> Please login <a href="~/User/Login">here</a></p>
    <p>Are you new and want to become a member of the most relevant booking site for pool access? <br />Register yourself <a href="~/User/Register">here</a></p>
    <img id="indexImage" class="largeImg" src="~/images/pool4.jpg" alt="image of an pool" />
    <p><em>The membership and use of the web page is free of charge. When booking a pool access, the user will be charged for the access fee only</em></p>
</div>
