@model Projekt_BookNSwim.Models.UserDetails

@{
    ViewData["Title"] = "Login";
}

@section MetaTags
{
    <meta name="keywords" content="Book'N'Swim, Pools, Hotels, Booking, Login" />
}

<h1>Login</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Login">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="userUserName" class="control-label"></label>
                <input asp-for="userUserName" class="form-control" type="text" autocomplete="username" aria-required="true"/>
                <span asp-validation-for="userUserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="userPassword" class="control-label"></label>
                <input asp-for="userPassword" class="form-control" type="password" autocomplete="current-password" aria-required="true"/>
                <span asp-validation-for="userPassword" class="text-danger"></span>
            </div>
            <div class="errormsg">
                <p>@ViewBag.error</p>
            </div>
            <div class="form-group">
                <input type="submit" value="Login" class="btn btn-primary" />
                <a class="startLinks" asp-action="Register">Register new user</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
